* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */

header {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
}

/* Main */

.container {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #0d6efd;
  border: #0d6efd;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.button {

  padding-top: 50px;

}